@font-face {
    font-family: 'TransformaSans';
    src: url('../fonts/transformaSans/TransformaSans.eot');
    src: url('../fonts/transformaSans/TransformaSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/transformaSans/TransformaSans.woff2') format('woff2'),
         url('../fonts/transformaSans/TransformaSans.woff') format('woff'),
         url('../fonts/transformaSans/TransformaSans.ttf') format('truetype');
}
  