.service-info {
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: var(--boxshadow-color);
  padding: 20px;
  text-align: left;
  width: 100%;
  max-width: 600px;
  min-width: 100px;
}

.service-info__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.2;
}

.service-info__tools-item {
  background-color: var(--background-color);
  background-image: var(--background-image-path);
  border: 2px solid var(--text-color);
  border-radius: 10px 10px 10px 10px;
  padding: 3px;
  font-size: 13px;
}

.service-info__description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.service-info__tools,
.service-info__tools-list {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.service-info__tools {
  font-weight: bold;
  color: var(--text-color);
}

.service-info__tools-list {
  display: flex;
  list-style: disc;
  flex-wrap: wrap;
  margin: 20px 0;
}

.service-info__button {
  text-align: center;
}

.swap-section {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1200px;
  margin: 5px auto;
  text-align: center;
}

.pagination {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth; 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  max-width: 600px; 
  width: 400px;
  touch-action: pan-x; 
  cursor: grab; 
}

.pagination::-webkit-scrollbar {
  display: none; 
}

.pagination-item {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px 20px;
  border: 1px solid var(--text-color);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  min-width: 100px; 
  text-align: center;
  flex-shrink: 0; 
}

.pagination-hidden {
  color: transparent;
}

.arrow-button, .arrow-down-button {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-button {
  border-bottom: 30px solid var(--text-color);
}

.arrow-text, .arrow-down-text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

.arrow-down-container,
.arrow-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swap-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
